body{
    margin: 0%;
    padding: 0%;
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #e5e5e5;
    color: #000814;
}

h1{
    font-size: 9em;
    margin: 0%;
}

.header-para-home{
    text-align: center;
}

.header-para-portfolio{
    padding-left: 12%;
}

.header-para-random{
    text-align: center;
}

.main-div {
    display: flex;
}

.div-description {
    flex: 3.5;
    padding: 20px;
}

.div-nav {
    flex: 1.5;
    padding: 50px;
}

.section-home,
.section-portfolio,
.section-something-random {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.random-nav{
    display: flex;
    justify-content: space-around;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #000814;
    font-weight: bold;
}

footer{
    text-align: center;
    position: relative;
    bottom: 2%;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #000814;
    color: #e5e5e5;
}

.images-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image {
    width: 23%;
    height: auto;
    margin-bottom: 10px;
}

.home-img{
    width: 100%;
    height: auto;
}

.footer-random {
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

iframe{
    width: 100%;
    height: 50%;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 6em; 
    }
}

.header-para-home {
    text-align: center;
}

.header-para-portfolio {
    padding-left: 12%;
}

.header-para-random {
    text-align: center;
}